body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M850.46 524.34a1.04 1.04 0 1 0 1.86-0.94z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M615.11 345.46L629.07 345.46L629.07 369.95L615.11 369.95z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M719.04 103.74L764.13 103.74L764.13 148.83L719.04 148.83z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1167.1 465.23 a7.19 7.19 0 1 0 14.38 0 a7.19 7.19 0 1 0 -14.38 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1303.47 84.12L1339.3 84.12L1339.3 119.95L1303.47 119.95z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M182.2 413.94a35.31 35.31 0 1 0 67.82 19.69z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M507.12 169.47L542.36 169.47L542.36 198.47L507.12 198.47z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1427.76 102.89a14.31 14.31 0 1 0-19.29 21.15z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1377.6 98.39a14.34 14.34 0 1 0-3.77 28.43z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M914.3 270.96 a17.89 17.89 0 1 0 35.78 0 a17.89 17.89 0 1 0 -35.78 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M78.03 64.19L126.41 64.19L126.41 66.78L78.03 66.78z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M784.89 508.86 a45.05 45.05 0 1 0 90.1 0 a45.05 45.05 0 1 0 -90.1 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M834.28 334.64L884.3 334.64L884.3 384.66L834.28 384.66z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M90.01 529.14L142.69 529.14L142.69 581.82L90.01 581.82z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M337.37 73.04 a38.01 38.01 0 1 0 76.02 0 a38.01 38.01 0 1 0 -76.02 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M974.79 260.33L998.64 260.33L998.64 284.18L974.79 284.18z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1077.87 257.4a48.72 48.72 0 1 0-96.98 9.46z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M765.78 385.41 a30.48 30.48 0 1 0 60.96 0 a30.48 30.48 0 1 0 -60.96 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1327 153.12a36.69 36.69 0 1 0 16.32 71.54z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M566.25 151.96a15.27 15.27 0 1 0-3.06 30.38z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M17.13 190.36L22.56 190.36L22.56 213.54L17.13 213.54z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M471.56 320.79a7.63 7.63 0 1 0-1.88 15.15z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M297.23 111.34a52.97 52.97 0 1 0-82.34 66.65z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1007.66 217.17L1035.1 217.17L1035.1 240.36L1007.66 240.36z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1032.04 532.25L1082.49 532.25L1082.49 577.32L1032.04 577.32z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1011.4 46.79 a55.23 55.23 0 1 0 110.46 0 a55.23 55.23 0 1 0 -110.46 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M972.63 411.99L993.65 411.99L993.65 433.01L972.63 433.01z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M951.47 465.78L989.5 465.78L989.5 512.74L951.47 512.74z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M368.72 175.47 a49.02 49.02 0 1 0 98.04 0 a49.02 49.02 0 1 0 -98.04 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M250.17 89.26L284.47 89.26L284.47 123.56L250.17 123.56z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M945.72 535.97L946.17 535.97L946.17 536.42L945.72 536.42z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1289.29 497.72a28.52 28.52 0 1 0-43.17 37.28z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1069.51 14.4L1074.99 14.4L1074.99 19.88L1069.51 19.88z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.fresh{
    text-align:  center;
    box-shadow: 6px 8px 10px #D58AE2,;
    top: 20%;
    bottom: 50%;
    color: rgb(117, 72, 108);
    font-size: 70px;
    
}
span{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.commander{
    margin-left: 20%;
    color: aliceblue;
    border: 1px solid rgb(117, 72, 108);
    background-color:rgb(117, 72, 108);
    border-radius: 30px;
    height: 40vh;
    text-decoration: none;
    padding: 1rem;
    
    
}
 .comm {
    margin-left: 20%;
    color: aliceblue;
    border: 1px solid rgb(117, 72, 108);
    background-color:rgb(117, 72, 108);
    border-radius: 30px;
    text-decoration: none;
    padding: 1rem;
    width: 5rem;
    opacity: .7;
      
 }
 .comm:hover{
    opacity: 1;
 }
.commander:hover{
    transform: scale(1.1);
}
button[type='submit']{
    padding: 1rem;
    border-radius: 30px;
    background-color: midnightblue;
    border-color: midnightblue;
    color:white;
}
form{
    margin-left: 5rem;
}
body{
    background-color: #d7d7d7;
}
.body{
    display: flex;

}
.glace{
    height: 50%;
    width: 50%;
    border-radius: 100%;
    margin-top: 5rem;
}