.shapedividers_com-362{
   overflow:hidden;
    position:relative;
    }
    .shapedividers_com-362::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
   position: absolute;
    bottom: 30px;
    left: -1px;
    right: -1px;
    top: 14vh;
    z-index: 3;
   pointer-events: none;
    background-repeat: no-repeat; 
   /* background-size: 100% 90px;
    background-position: 50% 0%;    
   /* background-image: url('img/four-scoops-ice-cream.jpg')*/
   background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/></svg>'); 

    }
    header{
      height: 100px;
    }
    @media (min-width:768px){
    .shapedividers_com-362::before{
    background-size: 100% 90px;
    background-position: 50% 0%;   
    }  
    }
     
    @media (min-width:1025px){
    .shapedividers_com-362::before{ 
    bottom: 0vw;
    left: -0.1vw;
    right: -0.1vw;
    top: 7vw; 
    background-size: 109% 339px;
   /* background-position: 50% 0%; */
    transform: rotateY(180deg); 
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/></svg>'); 
    }
    }
    @media (min-width:2100px){
    .shapedividers_com-362::before{
    background-size: 109% calc(2vw + 339px);
    }
    }
     